.c-modal {
    display: none;

    .modal-background {
        background-color: $black;
        height: 100%;
        opacity: .5;
        position: fixed;
        width: 100%;
        z-index: 10000;
    }

    &.show-modal {
        display: block;
    }

    .modal {
        z-index: 10001;
    }
}