.c-section-title {
    h2 {
        border-bottom: 1px solid $border;
        margin-bottom: $spacing-md;
        padding-bottom: $spacing-md;
        padding-top: $spacing-md;
        text-align: center;
    }
}